html {
	height: 100%;
	color: black;
}

#portfolio {
	text-align: center;
	margin-top: 25%;
	font-family: Lato;
}

#fixed {
	margin-top: 0%;
	border-top: 15px solid black;
	padding-top: 0%;
}

.page-header {
	border: none;
	text-align: center;
	font-family: Mr Bedfort;
	padding-top: 3%;
	padding-bottom: 1%;
	margin-top: 0%;
}

h1 {
	display: inline-block;
	font-size: 70px;
	background-color: white;
	padding: 2%;
	margin-bottom: 0%;
	padding-bottom: 1%;
}

.navbar {
	background-color: white;
	border: none;
	list-style: none;
	font-size: 18px;
	float: left; 
    text-align: center;
    width: 100%;
    padding-bottom: 1.5%;
  /*  border-bottom: 1px solid black;*/
}

.images {
	width: 3%;
}

ul {
	display: inline-block;
}

li {
	float: left;
	text-align: center;
	letter-spacing: 1px;
	margin-right: 25px;
}

a {
	color: black;
}

a:visited {
	color: black;
}

li:hover {
	text-decoration: underline;
}

.subHeader {
	background-color: black;
	color: white;
	font-family: Montez;
	margin: 0%;
	border: 0%;
	padding: .5%;
}

.jumbotron {
	width: 100%;
	background-color: white;
	text-align: center;
	height: 2000px;
}

#copyright {
	font-family: Sacramento;
	text-align: center;
	font-size: 20px;
	clear: both;
}

